* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-base);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--text-dark);
    padding-top: 45px;
    padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}