:root {
    --black         : #000000;
    --white         : #ffffff;
    --red           : #ff3040;

    --text-dark     : #262626;
    --text-light    : #8e8e8e;

    --border-color  : #dbdbdb;

    --bg-light      : #fafafa;

    --font-base     :'Roboto', sans-serif;

    --text-xs       : 10px;
    --text-sm       : 12px;
    --text-md       : 14px;
}